a{
    text-decoration: none;
    color: rgb(55, 108, 91);
  }

  body{
    background-color: #f5f5f5;
    color: #7f2929;
    font-family: sans-serif;
  }
  nav {
    background-color: rgb(187, 187, 142);
  }
  aside{
    background-color: #e6e292;
  }

  nav, aside {
    color: rgb(34, 34, 20)
  }
  a:visited {
    color: red;
  }
  a:hover {
    color: rgb(0, 248, 0)
  }
  section{
    border: 1px solid rebeccapurple;
  }