a{
    text-decoration: none;
  }

  body{
    background-color: #f5f5f5;
    color: #7f2929;
    font-family: sans-serif;
  }
  nav {
    background-color: rgb(187, 187, 142);
  }
  aside{
    background-color: #e6e292;
  }